jupyterlab #: Enables Jupyter notebooks.
pandas #Handles data manipulation and analysis, focusing on structured (tabular/panel) data.
pyarrow #Required by pandas; facilitates interaction between pandas and the Arrow format.
matplotlib #Basic tools for plotting and visualizing data.
seaborn #Simplifies complex visualizations and statistical plots, built on matplotlib.
